@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@layer base {
    body {
        background-color: #eee;
        font-family: "Poppins", sans-serif
    }
}

.zoom-enter .content {
    opacity: 0;
    transform: scale(0.5);
}

.zoom-enter-active .content {
    opacity: 10;
    transform: scale(1);
}

.zoom-exit .content {
    opacity: 1;
}

.zoom-exit-active .content {
    opacity: 0;
    transform: scale(0.5);
}