@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@layer base {
    body {
        background-color: #eee;
        font-family: "Poppins", sans-serif
    }
}

.zoom-enter .content {
    opacity: 0;
    transform: scale(0.5);
}

.zoom-enter-active .content {
    opacity: 10;
    transform: scale(1);
}

.zoom-exit .content {
    opacity: 1;
}

.zoom-exit-active .content {
    opacity: 0;
    transform: scale(0.5);
}
.toggle-input{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}